<div class="header row m-0 py-2 mb-2">
    <div class="col-sm-12 col-md-4">
        <h3>Path Finding Visualizer</h3>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="row justify-content-end">
            <div class="col-sm-12 col-md-6">
                <label class="sr-only" for="algo">Algorithm</label>
                <select class="custom-select" ngModel #algo name="algo" required>
                    <option value="" disabled>Select Algorithm</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-3">
                <button type="submit" class="btn btn-primary">Visualize!</button>
            </div>
        </div>
    </div>
</div>