<app-header></app-header>
<div class="container mt-3">
    <div class="row ml-1">
        <div class="d-flex align-items-center mr-3">
            <div class="material-icons mr-1">play_circle_filled</div>
            <span>Start Node</span>
        </div>
        <div class="box d-flex align-items-center mr-3">
            <div class="material-icons mr-1">radio_button_checked</div>
            <span>End Node</span>
        </div>
        <div class="box d-flex align-items-center mr-3">
            <div class="color visited"></div>
            <span>Visited Node</span>
        </div>
        <div class="box d-flex align-items-center mr-3">
            <div class="color backtrack"></div>
            <span>Backtracked Node</span>
        </div>
        <div class="box d-flex align-items-center">
            <div class="color block"></div>
            <span>Wall Node</span>
        </div>
    </div>
</div>
<hr>
<app-canvas></app-canvas>