<div class="canvas">
    <table>
        <tr class="row-{{i}}" *ngFor="let row of rowsArray; let i = index" cdkDropListGroup>
            <td class="{{i}}-{{j}}" *ngFor="let column of colsArray; let j = index" cdkDropList
                cdkDropListData="{{i}}-{{j}}" [cdkDropListConnectedTo]="connectedDropListArray[(rowCount * i) + j]"
                (cdkDropListDropped)="onDrop($event)" [cdkDropListEnterPredicate]="enterPredicate">
                <span *ngIf="startNode.row === i && startNode.column === j" class="material-icons" cdkDragBoundary=".table"
                    cdkDragData="Start" cdkDrag>
                    play_circle_filled
                </span>
                <span *ngIf="endNode.row === i && endNode.column === j" class="material-icons" cdkDragBoundary=".table"
                    cdkDragData="End" cdkDrag>
                    radio_button_checked
                </span>
            </td>
        </tr>
    </table>
</div>
