.canvas {
    padding: 0 5px;
    display: flex;
    justify-content: center;
}
td {
    padding: 0;
    width: 30px;
    height: 31px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #7e7d7d;
}
td > span {
    /* width: 10px; */
    /* height: 10px; */
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.bk {
    top: 0;
    left: 0;
    width: 30px;
    height: 31px;
    position: absolute!important;
    cursor: default!important;
}
