.canvas {
    padding: 0 5px;
    display: flex;
    justify-content: center;
}

td {
    padding: 0;
    width: 30px;
    height: 31px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #7e7d7d;
    /* margin: 31px; */
}

/* td::before, td::after {
    content: "";
    position: absolute;
    top: -31px;
    left: 15px;
    height: 31px;
    border-left: 1px solid black;
} */

td>span {
    /* width: 10px; */
    /* height: 10px; */
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.bk {
    top: 0;
    left: 0;
    width: 30px;
    height: 31px;
    position: absolute!important;
    cursor: default!important;
}

.row {
    display: flex;
    /* border: 1px solid black; */
}

.box {
    /* padding: 0; */
    width: 60px;
    height: 62px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
    /* border: 1px solid #7e7d7d; */
    padding: 31px 0 0 31px;
}

.box::before {
    content: attr(data-before-content);
    position: absolute;
    top: -31px;
    left: 15px;
    height: 31px;
    width: 2px;
    border-left: 1px solid black;
}

.box::after {
    content: attr(data-after-content);
    position: absolute;
    top: 15px;
    left: 30px;
    height: 2px;
    width: 30px;
    border-top: 1px solid black;
}

.firstRow>.box::before {
    content: none;
}

.box.lastColumn::after {
    content: none;
}

.box>div {
    position: absolute;
    top: 0;
    cursor: move;
    left: 0;
    height: 31px;
    width: 30px;
    border: 1px solid black;
}

.right-weight {
    position: absolute;
    top: -3px;
    left: 40px;
}

.top-weight {
    position: absolute;
    top: -24px;
    left: 5px;
}